---
interface Props {
    text: string
}

const { text } = Astro.props
const paragraphs = text
    .split(/\n\n+/)
    .map(p => p.replace(/\n/g, " "))
    .filter(p => p.trim() !== "");
---

<div class="license-body">
    {paragraphs.map((p: string) => <p>{p}</p>)}
</div>
